* {
  box-sizing: border-box;
}

html {
  --user-photo-width: 150px;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

.userCard {
  max-width: 300px;
  width: 100%;
  min-width: 250px;
  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 0px 0px 15px black;
  overflow: hidden;
  text-align: center;
}

.bg {
  background-image: url("/assets/img/user-card-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  color: white;
  padding: 20px;
  text-align: right;
}

.content-wrapper {
    padding: 0 1em 1em;
}

.userImg {
  width: var(--user-photo-width);
  height: var(--user-photo-width);
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
  margin-top: calc((-1) * var(--user-photo-width) / 2);
  border: 2px solid white;
}

.user-name {
    font-size: 1.5rem;
    margin: 0.3em 0;
    padding-top: 10px;
}

.user-location {
    font-size: 1rem;
    margin: 0.4em 0;
}

.job {
    font-size: 1.2rem;
    margin: 0.4em 0;
}

.experience {
    font-size: 1rem;
    margin: 1em 0;
}