* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg {
  background-image: url("/assets/img/user-card-background.png");
}
