* {
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

.userCard {
  max-width: 300px;
  width: 100%;
  min-width: 250px;
  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 0px 0px 15px black;
  overflow: hidden;
}

.bg {
  background-image: url("/assets/img/user-card-background.png");
}
